/* For pages that have a series of objects set off by borders or "cards" */


body {
	background-color: #181818;
}
.proj_title {
	/*background: #181818;*/
}
.info {
	position: relative;
	left: 40px;
	font-size: 15px;
	line-height: 18px;
}
.desc {
	/*max-width: 49%;*/
	/*float: left;*/
	font-size: 16px;
	line-height: 22px;
}
.main_img {
	max-width: 49%;
	border: solid 1px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	margin: 10px 20px;
}

.flipper_img {
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
}

.flipper_img2 {
	display: block;
	position: absolute;
	top: 0;
	right: 23px;
}
.proj_border {
	border: solid black 1px;
	border-radius: 4px;
	background: #222;
}
.cushion {
	margin: 8px 16px;
}

#imgs {
	position: relative;
	left: 10%;
	top: 0;
	width: 128px;
	text-align: center;
}
#imgs2 {
	position: relative;
	right: 45%;
	top: 0;
	width: 128px;
	height: 100%;
	text-align: center;
}

li {
	list-style-image: url(../images/bullet_blue.png);
}

.lb-outerContainer {

	background-color: black;
}
.sep {
	color: #779;
}