/*@font-face {
 font-family: 'Neutra Text Light';
 src: local('../fonts/NeutraText-Light.ttf');
 }

 @font-face {
 font-family: 'Neutra Text';
 src: local('../fonts/NeutraText-Demi.ttf');
 }*/

@font-face {
	font-family: neutraface;
	src: url('../fonts/NeutraText-Demi.ttf');
}

@font-face {
	font-family: harabara;
	src: url('../fonts/HARABARA.TTF');
}
@font-face {
	font-family: bebasneue;
	src: url('../fonts/BebasNeue.otf');
}
@font-face {
	font-family: oswald;
	src: url('../fonts/Oswald-Bold.ttf');
}

/* @font-face
 {
 font-family: myFirstFont;
 src: url('Sansation_Light.ttf'),
 url('Sansation_Light.eot');
 }

 div
 {
 font-family:myFirstFont;
 }

 =================================================================*/

#page {
	margin: 50px auto;
	width: 960px;
	/*	border-left: 1px solid #cb0a0f;
	 border-right: 1px solid #cb0a0f;
	 border-bottom: 1px solid #cb0a0f;
	 -webkit-border-radius: 20px;
	 -moz-border-radius: 20px;
	 border-radius: 20px;*/
}

#section {

	margin: 0px;
	font-family: bebasneue, neutraface, 'trebuchet ms', 'sans serif';
	font-size: 32px;
	color: #4fc600;
	/*	text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

div {
	display: block;
}

html {
	height: 100%;
	background: #222;
}

body {

	background-color: #181818;
	/*				background: #181818 url("https://d2dfho4r6t7asi.cloudfront.net/assets/grey-6f26ed25ab8b1bb09d210c42af2a7a5a.jpg");*/

	color: #eee;
	font-family: helvetica, Lucida Sans Unicode, 'sans serif';
	font-size: 18px;
	opacity: 1;
}


h1 {

	/* main font */
	margin: 0px;
	font-family: oswald, 'trebuchet ms', 'sans serif';
	font-size: 38px;
	color: #fff;
	/*text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

h2 {

	margin: 0px;
	font-family: neutraface, helvetica, 'sans serif';
	font-size: 36px;
	color: #5bbd2c; /*#3cb6c1;*/ /*#ff8625;*/
	/*	text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

h3 {

	margin: 0px;
	font-family: bebasneue, neutraface, 'trebuchet ms', 'sans serif';
	font-size: 46px;
	color: #f8f8f8; /*#4fc600;*/
	/*	text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

h4 {

	margin: 0px;
	font-family: neutraface, 'trebuchet ms', 'sans serif';
	font-weight: 100;
	font-size: 36px;
	color: #a3f1ff;
	/*	text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

h5 {

	margin: 0px;
	font-family: harabara, 'trebuchet ms', 'sans serif';
	font-size: 44px;
	color: #fff;
	/*	text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
}

h6 {

	margin: 0px;
	font-family: neutraface, 'trebuchet ms', 'sans serif';
	font-weight: 100;
	font-size: 36px;
	color: #cb0a0f;
}

div.l {

	height: 1px;
	background-color: #03b8c8;
	/*border-bottom: 1px solid #00eaff;*/
	margin: 0em 1.5em 0em 1.5em;
	overflow: hidden;
}

a, a:visited {
	color: #80b6b4;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #4a9fff;/* 7db5f2*/
	text-decoration: bold;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background-color: #080808;
	z-index: 1;
}
#name {

	position: relative;
	top: -45px;
	left: 60px;
	margin: 0px;
	font-family: harabara, 'trebuchet ms', 'sans serif';
	font-size: 44px;
	color: #fff;
	height: 50px;
	float: left;
	line-height: 100%;
	margin: 30px, 14px;
	z-index: 2;
	background: -webkit-linear-gradient(#fff, #aaa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#secimg {
	position: absolute;
	top: -5px;
	left: -60px;
	margin: 5px;
	border: none;
}
#secimg:hover {

	border: none;
}

nav {

	position: relative;
	top: -30px;
	right: 60px;
	font-family: bebasneue, 'trebuchet ms', 'sans serif';
	font-size: 28px;
	color: #ccc;
	height: 50px;
	float: right;
	line-height: 14px;
	margin: 30px, 14px;
	z-index: 2;
}
.nav_item:hover {
	border-bottom: #5bbd2c solid 3px;
	color: #fff;
}
#page {
	position: relative;
	top: 0;
	width: 960px;
}

#curPage {
	float: left;
	margin: 5px;
	font-weight: 100;
	font-size: 68px;
	color: #16aff6;
	/*text-shadow: rgba(0,0,0,.5) 0px -2px -1px;*/
	border-left: 2px solid #cb0a0f;
}
#bar {
	height: 35;
	background-color: #111;
}
#footer {

	clear: both;
	padding: 10px;
	font-family: Verdana, Helvetica, sans-serif;
	color: #608ba2;
	font-size: 9px;
	text-align: center;
	position: relative;
	text-shadow: #000 0px -1px 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 18px
}

li {
	list-style-image: url(images/bullet_blue.png);
}

::selection {
	background: #8c8c9f;
	color: #c8c8de;
}/* Safari 3.1+, Opera 9.5+, Chrome 2+ */
::-moz-selection {
	background: #8c8c9f;
	color: #c8c8de;
} /* Mozilla Firefox */

