#page {

	width: 480px;
	background-color: red;
	height: 100%;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 2s;
	/* Firefox 4 */
	-moz-transition-property: width;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 2s;
	/* Safari and Chrome */
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: default;
	-webkit-transition-delay: 0s;
	/* Opera */
	-o-transition-property: width;
	-o-transition-duration: 1s;
	-o-transition-timing-function: default;
	-o-transition-delay: 2s;
}
#page:disabled {
	width: 600px;
}
.icon {
margin-top: 10px;

/*	*/
	transition: width 2s, margin 0.5s;
	-moz-transition: width 2s, margin 0.5s, -moz-transform 0.2s; /* Firefox 4 */
	-webkit-transition: width 2s, margin 0.2s, -webkit-transform 0.2s; /* Safari and Chrome */
	-o-transition: width 2s, margin 0.5s, -o-transform 2s; /* Opera */
}
.icon:hover {
	margin-right: 15px !important;
	/*margin-bottom: 10px !important;*/

	transform: rotate(-10deg);
	-moz-transform: rotate(-10deg); /* Firefox 4 */
	-webkit-transform: rotate(-10deg); /* Safari and Chrome */
	-o-transform: rotate(-10deg); /* Opera */
}

#links {
	position: absolute;
	left: 0;
	text-align: center;
	height: 270px;
	width: 105px;
	background-color: #111;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
}

#main {

	position: absolute;
	right: 0;
	text-align: center;
	width: 480px;
	/*position: relative;*/
	height: 270px;
	background-color: #111;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 2;
}

html {
	height: 100%;
	background: #181818;
}

h1 {

	height: 70px;
	margin: 15px;
	/* main font */
	font-family: harabara, 'helvetica', 'trebuchet ms', 'sans serif';
	font-weight: 100;
	font-size: 80px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
	-webkit-background-clip: text;
	/*-webkit-text-fill-color: transparent;*/

}

.l{
	margin: 0em 1.5em 0em 1.5em;
}

#subname {
	font-family: bebasneue, 'sans serif';
	color: #53bf0b;
	opacity: 1;
	font-size: 32px;
	/* gradient */
	background: #afafaf/*53bf0b*/;
	/*GREEN*/
	/*background: -webkit-gradient(linear, left bottom, left top, from(#245305), to(#53bf0b));*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*#project:hover {
 -moz-box-shadow: 3px 3px 4px #fff;
 -webkit-box-shadow: 3px 3px 4px #fff;
 box-shadow: 3px 3px 4px #fff;
 }*/