#page {

	width: 600px;
	margin: 50px auto;
	height: 240px;
	border-left: 0px solid #000;
	border-right: 0px solid #000;
}

#links {
	float: left;
	text-align: center;
	height: 270px;
	width: 105px;
	margin-top: 120px;
	background-color: #111;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main {

	float: right;
	text-align: center;
	width: 480px;
	/*position: relative;*/
	height: 270px;
	margin-top: 120px;
	background-color: #111;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

html {
	height: 100%;
	background: #181818;
}

h1 {

	height: 70px;
	margin: 15px;
	/* main font */
	font-family: harabara, 'helvetica', 'trebuchet ms', 'sans serif';
	font-weight: 100;
	font-size: 80px;

  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  
}

#subname {
	font-family: bebasneue, 'sans serif';
	color: #53bf0b;
	opacity: 1;
	font-size: 32px;
	/* gradient */
	background: #afafaf/*53bf0b*/;
	/*GREEN*/
	/*background: -webkit-gradient(linear, left bottom, left top, from(#245305), to(#53bf0b));*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div.l {

	height: 1px;
	background-color: #03b8c8;
	/*border-bottom: 1px solid #00eaff;*/
	margin: 0em 1.5em 0em 1.5em;
	overflow: hidden;
}

#about {
	margin: 12px;
}
#course {
	margin: 0px, 15px;
}
#project {
	margin: 12px;
}
/*#project:hover {
	-moz-box-shadow: 3px 3px 4px #fff;
	-webkit-box-shadow: 3px 3px 4px #fff;
	box-shadow: 3px 3px 4px #fff;
}*/
